USERS_ENDPOINT=https://your-sheety-users-endpoint
SHEET_ENDPOINT=https://your-sheety-sheet-endpoint
SERP_ENDPOINT=https://serpapi.com/search

SERP_API_KEY=your_serpapi_key

MY_EMAIL=your_email@gmail.com
MY_PASS=your_app_password

ACCOUNT_SID=your_twilio_sid
AUTH_TOKEN=your_twilio_auth_token